

.page-container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    gap: 10px;
}

header {
    background-image: url('images/header.jpg');
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
    align-items: center;
}

.logo {
    width: 70px;
    padding: 10px;

}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none; 
    padding: 0;
    width: 100%;
    margin: 0 70px;

}

nav ul li {
    flex: 1;
}

nav ul li a {
    text-decoration: none;
    margin-left: 5px;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    width: 70px;
    margin: 0 50px 0 0;
    gap: 10px;
}

h1 {
    text-align: center;
    margin: 100px 0;
    color: darkorange;
    opacity: 0.8;
}

.main{
    display: flex;
    gap: 10px;
}

.main-blog {
    background-color: rgb(207, 207, 207);
    padding: 10px;
    flex: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

@media (max-width: 768px) { 
    .main {
        flex-direction: column;
    }

    .main-blog, .side-blog {
        flex: 1;
    }
}

@media (max-width: 425px) { 
    
    .main-blog {
        display: flex;
        flex-direction: column;
    } 
}

.blog-item {
    background-color: rgb(233, 233, 233);
    gap: 10px;
    padding: 10px;
    position: relative;
}

.blog-item img {
    width: 100%;
    height: 180px; 
    object-fit: cover;
    object-position: center;
}

.blog-item h2 {
    height: 50px;
    background-color: rgba(223, 168, 105, 0.815);
    font-size: 24px;
    color: whitesmoke; 
    margin: 2px 0 10px 0;
    padding: 5px;
    display: flex;
    align-items: flex-end;
}

.blog-item p {
    column-count: 2;
    column-gap: 20px;
    font-size: 16px; 
    color: #666; 
    line-height: 1.3;
    padding: 5px;
    margin-bottom: 40px;
}

.blog-item a {
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    position: absolute;
    margin: 10px;
    bottom: 0;
    left: 0;
}



.blog-footer{
    grid-column: span 2;
    text-align: center;
    font-weight: bold;
}

.side-blog{
    flex: 1;
    background-color: rgb(207, 207, 207);
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.side-blog p {
    line-height: 1.3;
    padding: 10px;
}


.footer{
    background-color: rgb(233, 233, 233);
    padding: 10px;
    height: 10px;
}

.footer p {
    text-align: center;
    font-size: 12px;
    color: #666;
    margin: 0;
}